  .navbar {
    overflow: hidden;
    background-color: #9f71ac9e;
  }

  .navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 16px;
    text-decoration:none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: #c597cf;
    color: rgb(0, 0, 0);
  }
  .navbar a.selected {
    color:black;
    background-color:#ffffff
  }
